* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    padding: 20px;
}

a {
    color: #000000;
}

.container{
    display: flex;
    flex-direction:column;
    gap: 15px;
    max-width: 1200px;
    margin: auto;
}

header{
    background-color: #00a86b;
    color: white;
    padding: 20px;
    border-radius: 5px;
}

header h1{
    font-size: 32px;
}

.Stylesheets{
    display: flex;
    flex-direction: column;
    gap: 15;
}

.Stylesheets li:hover{
    transform: translateY(-5px);
    transition: transform 0.3s ease;
}

nav, main, aside{
    width: 100%;
}

nav ul{
    list-style: none;
}

nav li{
    background: #eeeeee;
    margin-bottom: 5px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

nav li:hover{
    background-color:#00a86b;
    color: white;
}

nav li:active{
    background-color: #034723;
}

main{
    background: white;
    padding: 20px;
    border-radius: 5px;
}

aside{
    background-color: #3498db;
    color: white;
    padding: 20px;
    border-radius: 5px;
}

aside:hover{
    transform: translateY(-5px);
    transition: transform 0.3s ease;
}

footer{
    background: #eeeee;
    padding: 15px;
    font-size: 14px;
    border: 1px solid #ddd;
    text-align: justify;
    margin-top: 15px;
}

@media(min-width: 600px){
    .Stylesheets{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    nav {width: 30%;}
    main{width: 68%;}
    aside{width: 100%;}
}

@media(min-width: 900px){a
    .Stylesheets{
       flex-wrap: nowrap;
    }

    nav{flex: 0 0 200px;}
    main{flex: 2; margin: 0 15px;}
    aside{flex: 0 0 200px;}
}


